.card {
    display: flex;
    background-color: var(--cor-branco);
    width: 85%;
    margin: auto;
    border-radius: 10px;
    padding: 16px;
    gap: 16px; 
    margin-bottom: 20px;

}
.card__g1 {
    display: flex;
    flex-direction: column;
}

.card__g1__titulo {
    color: var(--cor-principal);
    font-weight: bold;
}

.inputs {
    padding-top: 8px;
}

.card__g1__subtitulo {
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-secundaria);
    padding-top: 8px;
}

.card__g1__sub{
    color: var(--cor-secundaria);
    font-weight: 700;
}

.card__g1__texto{
    font-size: 14px;
    font-weight: 400;
}

.card__g1__autor{
    font-size: 18px;
    font: 700;
}

.card__imagens {
    padding: 8px
}

.card__btn {
    padding: 12px;
    width: 100%;
    margin-top: 35px;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    font-weight: 700;
    font-family:  'Poppins', sans-serif;
}