.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    padding: 0.5rem;

}

.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url("../assets/img/icones/Menuu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__imagem {
    padding: 0.5rem;
}

menu {
    position: absolute;
    top: 100%;
    background-color: white;
    display: none;
    width: 70vw;
    padding-left: 24px;
}

li {
    padding: 16px;
}

#lista__titulo {
    padding: 16px;
    color: var(--cor-principal);
    font-weight: bold;
}

.cabecalho__categorias__itens {
    text-decoration: none;
    color: var(--cor-secundaria);
}

