.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.container {
    display: flex;
    align-items: center;
    padding: 1rem;

}

.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url("../assets/img/icones/Menuu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho__menu:hover {
    background-color: blue;
}


.container__imagem {
    padding: 0.5rem;
}
