@charset "UTF-8";
@import url(header.css);
@import url(banner.css);
@import url(carrossel.css);
@import url(card.css);
@import url(topicos.css);
@import url(news.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* MOBILE */ 

:root {
    --cor-de-fundo: #EBECEE;
    --cor-principal: #EB9B00;
    --cor-secundaria: #002F52;
    --cor-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-fonte-padrao: #000000;
    --cor-branco: #FFF;

}

body { 
    background-color: var(--cor-de-fundo);
    font-family: 'Poppins', sans-serif;
   
}


